name: Build Desktop

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # - os: ubuntu-latest
          #   target: x86_64-unknown-linux-gnu
          # - os: macos-latest
          #   target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - uses: actions/checkout@v4

      - name: Download SDL2 binaries
        run: |
          Invoke-WebRequest https://www.libsdl.org/release/SDL2-devel-2.32.10-VC.zip -OutFile SDL2.zip
          Expand-Archive SDL2.zip -DestinationPath C:\SDL2
          [System.Environment]::SetEnvironmentVariable("SDL2_ROOT", "C:\SDL2", "Machine")
        shell: pwsh

      - name: Copy SDL2.dll to target
        run: Copy-Item "C:\SDL2\lib\x64\SDL2.dll" "./code/desktop/target/${{ matrix.target }}/release/"
        shell: pwsh

      - name: Build
        run: cargo build --release --target ${{ matrix.target }} -p desktop

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: desktop-${{ matrix.os }}
          path: ./code/desktop/target/${{ matrix.target }}/release/desktop*
